main {
    background-image: linear-gradient(to top, black 0%, darkred 100%) !important;
}
.titleImage {
    align-items: center;
    overflow: hidden;
    display: flex;
}
.titleImage img {
    width: 100%;
    border: 5px solid black;
    height: fit-content;
}
.stackable.grid.primaryInfo div {
    padding: 0;
}
.clientQuote h2 {
    font-size: 30px;
    background: linear-gradient(to right, #ad5389, #3c1053);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    text-align: center;
  }
.clientQuote p {
    text-align: right;
    font-size: 15px;
}
.page {
    border-color: darkred;
}
.themeSwitcher {
    position: absolute;
    top: 10px;
    right: 10px;
}
.themeSwitcher button {
    color: #fff;
    background: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
.muggleVersion {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    justify-content: center;
    height: 100vh;
    align-items: center;
    display: none;
}
.muggleVersion img {
    height: 300px;
}
